<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="SixLabors" value="https://www.myget.org/F/sixlabors/api/v3/index.json" />
    <add key="aspnetcore-dev" value="https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json" />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="opentk-dev" value="https://www.myget.org/F/opentk-develop/api/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="SixLabors" value="true" />
    <add key="Syncfusion Winforms" value="true" />
    <add key="Syncfusion aspnetmvc" value="true" />
    <add key="aspnetmaster" value="true" />
    <add key="ImageSharp" value="true" />
    <add key="Syncfusion Winforms" value="true" />
    <add key="Syncfusion aspnetmvc" value="true" />
    <add key="aspnetmaster" value="true" />
  </disabledPackageSources>
</configuration>